#title{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    overflow: hidden;
}
.hero-image{
    background: url("./images/hero.png") no-repeat center center/cover;
    filter: blur(8px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.content{
    position: relative;
    z-index: 0;
    text-align: center;
}
.profile-info h1{
    color: white;
    font-family: "Press Start 2P",cursive;
    z-index: 0;
    position: relative;
    margin-bottom: 40px;
    margin-top: 20px;
    margin-left: 20px;
}
.profile-info h2{
    color: white;
    font-family: "changa", sans-serif;
}
#about .bio{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.profile-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 80px;
    margin-bottom: 30px;
}
#about .hello{
    margin-top: 50px;
}
#about .dot{
    margin-top: 70px;
    margin-bottom: 70px;
    color: #87CEFA;
}
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.my-skills{
    margin-bottom: 20px;
}
.image{
    display:flex;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
}
.image img{
    height:200px;
    width: 300px;
    float: left;
    margin-right: 10px;
    border-radius: 10%;
    
}
.container{
    display: flex;
    justify-content: flex-start;
}
.for-mar{
    margin-top: 33px;
}
.get-in-touch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.get-in-touch .get-in-touch-text{
    margin-top: 40px;
    margin-bottom: 40px;
}
.get-in-touch .love-biryani{
    margin-bottom: 40px;
}
.get-in-touch .ask-to-contact{
    margin-bottom: 40px;
}
.blue{
    color:#004687 ;
}
.light-blue{
    color:#005A9C;
}
button{
    background-color: #004687;
    color: white;
    border-radius: 8px;
    padding:12px 30px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    margin-bottom: 60px;
}
#footer{
    background-color: #005A9C;
    color: white !important;
    padding: 40px 0;
}
